nav{
    background-color: #be2828;
    padding: 15px;
}
h1{
    color: #2a3ebe;
}
img{
    width: 250px;
}
footer{
    color: darkgray;
}
article h2{
    color: #42ec0d;
}
#uvod{
    font-size: 20px;
}